openapi: 3.0.0
info:
  description: >-
    Provider of Services to UAM (PSU) 
  version: "1.0.0-oas3"
  title: Operation API
  termsOfService: http://uarm.arc.nasa.gov
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    url: 'https://utm.arc.nasa.gov/'
    email: joseph.rios@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'
paths:

  '/operations/{gufi}':
    put:
      tags:
        - A. Required Endpoints
      summary: 'Announce a new, or update an already announced operation.'
      description: >-
        Announce an Operation to another USS, either initial Operation or an
        update to the Operation. The Operation's owner creates the ID.
      parameters:
        - in: path
          name: gufi
          required: true
          description: PUT operation by gufi
          schema:
            type: string
      responses:
        '200':
          description: an existing position resource updated
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
        '201':
          description: Position data created
          content:
            application/json:
              schema:
                $ref: https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse

        '400':
          description: Bad request. Typically validation error. Fix your request and retry.
          content:
            application/json:
              schema:
                $ref: >-
                  https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
        '401':
          description: Invalid or missing access_token provided.
          content:
            application/json:
              schema:
                $ref: >-
                  https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
        '403':
          description: Forbidden. Data and or token do not meet security requirements.
          content:
            application/json:
              schema:
                $ref: >-
                  https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
        '409':
          description: >-
            Conflict. This USS has an Operation that intersects. 'messages'
            field in UTMRestResponse will contain list of GUFIs of length at
            least 1 indicating the conflicting Operation(s).
          content:
            application/json:
              schema:
                $ref: >-
                  https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
        '429':
          description: Too many recent requests from you. Wait to make further queries.
          content:
            application/json:
              schema:
                $ref: >-
                  https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/uam-domain-commons-2.0.yaml#/definitions/UTMRestResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v2/schema/schema-uam-gcdmp-operations-2.0.yaml#/definitions/op
        
        description:  Operational plan
          
        required: true
servers:
  - url: 'https://uss.defined.url/'
