openapi: 3.0.0
info:
  description: >-
    Provider of Services to UAM (PSU)
  version: "1.0.0"
  title: ATI-NC-DATA-COLLECTION-API
  termsOfService: http://uam.arc.nasa.gov/terms/
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    url: 'https://uam.arc.nasa.gov/'
    email: shivanjli.sharma@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'

servers:
  - url: 'https://uss.defined.url/'

#x-amazon-apigateway-request-validator: all
x-amazon-apigateway-request-validators:
  validate_body_and_parameters:
    validateRequestParameters: true
    validateRequestBody: true

paths:
  '/adsb':
    post:
      summary: Upload array of ADS-B models.
      responses:
        '200':
          $ref: '#/components/responses/r200'
        '204':
          $ref: '#/components/responses/r204'
        '400':
          $ref: '#/components/responses/r400'
        '401':
          $ref: '#/components/responses/r400'
        '403':
          $ref: '#/components/responses/r403'
        '409':
          $ref: '#/components/responses/r409'
        '429':
          $ref: '#/components/responses/r429'

      requestBody:
        content:
          application/json:
            schema:
              $ref: 'https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/adsb.yaml#/components/schemas/ADSBObject'
        description: top level ADSB object, containing array of ADSB models
        required: true

x-amazon-apigateway-gateway-responses:
  BAD_REQUEST_BODY:
    statusCode: 400
    responseTemplates:
      application/json: "{\n  \"error\": {\n    \"code\": 400,\n    \"stage\": \"\
        $context.stage\",\n    \"request\": \"$context.requestId\",\n    \"message\"\
        : \"$context.error.validationErrorString\"\n  }\n}\n"

components:
  securitySchemes:
    Authorizer:
      type: "apiKey"
      name: "Authorization"
      in: "header"
      x-amazon-apigateway-authtype: "cognito_user_pools"
      x-amazon-apigateway-authorizer:
        providerARNs:
        - "arn:aws:cognito-idp:us-east-1:966029537804:userpool/us-east-1_TJmR9ZRxM"
        type: "cognito_user_pools"
  responses:

    'r200':
      description: an existing position resource updated
      content:
        application/json:
          schema:
            $ref:
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r201':
      description: Position data created
      content:
        application/json:
          schema:
            $ref: https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r204':
      description: no response supplied

    'r400':
      description: Bad request. Typically validation error. Fix your request and retry.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r401':
      description: Invalid or missing access_token provided.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r403':
      description: >-
        Forbidden. Do not retry with same access token. Reason not provided,
        but do you have the right scopes? Does uss_name match the sub claim?
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r409':
      description: Conflict for a PUT that is unsuccessful due to a 3rd-party modification
      content:
        application/json:
          schema:
            $ref: https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r429':
      description: Too many recent requests from you. Wait to make further queries.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r502':
      description: Bad Gateway/Validation Error.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r503':
      description: Limit Exceeded/Service Unavailable.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse

    'r504':
      description: Gateway Timeout.
      content:
        application/json:
          schema:
            $ref: >-
              https://raw.githubusercontent.com/nasa/uam-apis/master/datacollection/openapi/v3/schema/uam-domain-common-3.0.yaml#/components/schemas/UTMRestResponse
