openapi: 3.0.0
info:
  description: >-
    NASA Data Collection interface for uploading unstructured data
  version: "1.0.1"
  title: ATI-NC-Unstructured-Data-Upload
  termsOfService: http://uam.arc.nasa.gov/terms/
  contact:
    name: 'NASA Ames Research Center, Aviation Systems Division'
    email: shivanjli.sharma@nasa.gov
  license:
    name: NASA Open Source Agreement
    url: 'https://ti.arc.nasa.gov/opensource/nosa/'

servers:
  - url: 'https://uss.defined.url/'

#x-amazon-apigateway-request-validator: all
x-amazon-apigateway-request-validators:
  validate_body_and_parameters:
    validateRequestParameters: true
    validateRequestBody: true

paths:
  /upload-intent:
    summary: Generate S3 Presigned URL by submitting FileMetadata models
    post:
      summary: Upload an array of FileMetadata models
      responses:
        '200':
          $ref: '#/components/responses/r200'
        '400':
          $ref: '#/components/responses/r400'
        '401':
          $ref: '#/components/responses/r400'
        '403':
          $ref: '#/components/responses/r403'
        '409':
          $ref: '#/components/responses/r409'
        '429':
          $ref: '#/components/responses/r429'
        '500':
          $ref: '#/components/responses/r500'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FileMetadata'
        description: Upload an array of FileMetadata
        required: true
x-amazon-apigateway-gateway-responses:
  BAD_REQUEST_BODY:
    statusCode: 400
    responseTemplates:
      application/json: "{\n  \"error\": {\n    \"code\": 400,\n    \"stage\": \"\
        $context.stage\",\n    \"request\": \"$context.requestId\",\n    \"message\"\
        : \"$context.error.validationErrorString\"\n  }\n}\n"

components:
  schemas:
    FileMetadata:
        description: >-
          Defines context auxiliary data for a file upload.
        required:
          - document_id
          - title
          - file_name
          - checksum_code
        properties:
          document_id:
            description: >-
              File identifier within ATI.
            type: string
            format: uuid
          title:
            description: >-
              Title of the file being uploaded.
            type: string
          file_name:
            description: >-
              Name of the file being uploaded.
            type: string
          s3_location:
            description: >-
              S3-bucket URL, once the file is uploaded to S3.
            type: string
          box_location:
            description: >-
              box location URL, once the file is uploaded to box
            type: string
          description:
            description: >-
              Additional description about the file.
            type: string
          flight_type:
            description: Type of flight test.
            type: string
            enum:
              - AIRSPACE_SIMULATION
              - FLIGHT_SIMULATION
              - LIVE_FLIGHT
          data_source:
            description: Source of the file been uploaded.
            type: string
            enum:
              - DGPS
              - IMU
              - FLIGHT_REPORTS
              - TEST_CARDS
              - MOF_COMM
              - AUDIO
              - VIDEO
              - VEHICLE_TELEMETRY
              - FIAPA
              - WEATHER
              - OTHER_DATA
          data_type:
            description: Type of the file been uploaded.
            type: string
            enum:
              - TIME_SERIES
              - GEO_SPACIAL
              - TEXT
              - CSV
              - PDF
              - ZIP
              - MS_OFFICE
          scenario_id:
            description: Associated scenarios
            type: string
            enum:
              - SCENARIO_1
              - SCENARIO_2
              - SCENARIO_3A
              - SCENARIO_3B
              - SCENARIO_3C
          checksum_code:
            description: >-
              Checksum algorithm generated code
            type: string
          checksum_algorithm:
            description: Checksum algorithm name. Only MD5 supported at this time.
            type: string
            enum:
              - MD5
              - SHA1
              - SHA256
          flight_test_date:
            description: Date the file is generated (UTC Timestamp)
            type: string
          submitted_by:
            description: User name who submitted the data from its origin.
            type: string
          submitter_email:
            description: Submitter email address.
            type: string
            format: email
            maxLength: 254

    UTMRestResponse:
      type: object
      required:
        - http_status_code
        - message
      properties:
        http_status_code:
          type: integer
          minimum: 100
          exclusiveMinimum: false
          maximum: 599
          exclusiveMaximum: false
        message:
          type: string
          maxLength: 500
      example:
        http_status_code: 400
        message: Bad Request. Invalid JSON?

    UploadIntentResponse:
      description: |-
        S3 presigned URL response.
      type: object
      properties:
        message:
          description: S3 presigned URL.
          type: string
          example: 'https://url'


  responses:

    'r200':
      description: FileMetadata received
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UploadIntentResponse'

    'r400':
      description: Bad request. Typically validation error. Fix your request and retry.
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'

    'r401':
      description: Invalid or missing access_token provided.
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'

    'r403':
      description: >-
        Forbidden. Do not retry with same access token. Reason not provided,
        but do you have the right scopes? Does uss_name match the sub claim?
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'

    'r409':
      description: Conflict for a PUT that is unsuccessful due to a 3rd-party modification
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'

    'r429':
      description: Too many recent requests from you. Wait to make further queries.
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'

    'r500':
      description: Internal Server Error.
      content:
        application/json:
          schema:
            $ref:
              '#/components/schemas/UTMRestResponse'
