openapi: "3.0.1"
info:
  title: "arc-af-dpipe-apimodel-dr1"
  description: " c89b9d8 2020-11-03T10:14:42"
  version: "1.0.3"
servers:
- url: "https://utmdelta.arc.nasa.gov/"
  variables:
    basePath:
      default: "/dc/v2"
paths:
  /uss/v1/reports:
    post:
      operationId: "makeUssReport"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODELcc9d7d"
        required: true
      responses:
        201:
          description: "201 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL19896d"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL1e0b34"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf0660f"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELc4091c"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELcbe2d1"
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL63aca3"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /waypoint:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfWaypoint"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8c7e35"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL2a725e"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELe73914"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL0d7e1a"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf972ac"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL07d47c"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELcfc4ed"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /adsb:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODEL31afd2"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL02147b"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL32d415"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL4b4632"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf3b997"
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELea7617"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL03792d"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELaeea22"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /metadata:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfFlightRunMetadata"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8d0c9e"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8150de"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL29016f"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf25f8f"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL9d9605"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL256923"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL470c95"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /version:
    get:
      responses:
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL884a7c"
        201:
          description: "201 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL1a69f2"
  /uss/v1/operations:
    post:
      operationId: "notifyOperationDetailsChanged"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODEL6e46db"
        required: true
      responses:
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL11e01c"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL43bdde"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf558d7"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL474546"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL657fc2"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELdf2a05"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /off-nominal-response:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfOffNominalResponse"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL6781f5"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf0df8c"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL284486"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL62a1f9"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL48c46c"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf95a09"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELebe471"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /test:
    get:
      responses:
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL19ac37"
        204:
          description: "204 response"
          content: {}
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /uss/v1/constraints:
    post:
      operationId: "notifyConstraintDetailsChanged"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODELbfe25a"
        required: true
      responses:
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL5ebb7b"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL4d058a"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL059ec9"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELd33caf"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELbe1b1b"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL726c69"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /constraint-occurrence:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfConstraintOccurrence"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELfd1d58"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL5dbbcc"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELe39eca"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELad4c1d"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL6a5c51"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELa64cec"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELdc4e48"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /telemetry:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MODEL081742"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL7e34af"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL80e2da"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL1f780e"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL2c40bb"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL13ef1c"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL1f9d37"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELe21117"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /psu-exchange:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfPSUExchange"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELc8136f"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL24b724"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL069858"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL4f088b"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELaa6584"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL7b0e65"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL7c4440"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /auxiliary-operation:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfAuxiliaryOperation"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELf40ec8"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELd69407"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELd4a62d"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL6e342d"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL0d0a37"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL73f9c6"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELc7a45d"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
  /con-pre-run-op:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayOfConPreRunOp"
        required: true
      responses:
        200:
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL547205"
        400:
          description: "400 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL525f51"
        401:
          description: "401 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8b4e4c"
        500:
          description: "500 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL027f0d"
        204:
          description: "204 response"
          content: {}
        403:
          description: "403 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODELa1881b"
        429:
          description: "429 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL7f4165"
        409:
          description: "409 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MODEL8ec30e"
      security:
      - Authorizer:
        - "PocDCAPI/write_data"
components:
  schemas:
    MODELf25f8f:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL48c46c:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    ArrayOfOffNominalResponse:
      type: "array"
      items:
        $ref: "#/components/schemas/OffNominalResponse"
    MODEL1f9d37:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODELa64cec:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    FlightRunMetadata:
      required:
      - "FRI"
      - "FRI_tag"
      - "PSU_url"
      - "crew"
      - "flight_test_run_date_time"
      - "flight_type"
      - "industry_partner_name"
      - "scenario_id"
      - "test_id"
      type: "object"
      properties:
        FRI:
          maxLength: 36
          minLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
          type: "string"
          description: "Flight Test Run Identifier, autogenerated by subsystem, in\
            \ this case partner PSU while submitting flight-run-metadata to NASA Data\
            \ Pipeline subsystem."
          format: "uuid"
        FRI_tag:
          type: "string"
          description: "A tag that can group multiple UAM aircrafts (simulated/real)\
            \ flight test runs."
        flight_type:
          type: "string"
          description: "Distinguishes flight test types."
          enum:
          - "AIRSPACE_SIMULATION"
          - "FLIGHT_SIMULATION"
          - "LIVE_FLIGHT"
        flight_test_run_date_time:
          maxLength: 24
          minLength: 24
          pattern: "^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9])(\\\
            .[0-9]{1,3})?Z$"
          type: "string"
          description: "Timestamp information about the start of the flight test event\
            \ run."
          format: "date-time"
        industry_partner_name:
          type: "string"
          description: "Name of the industry partner"
        test_id:
          type: "string"
          description: "Distinguishes the event by ID."
          enum:
          - "X3"
          - "X4"
          - "VIRTUAL_DRY_RUN"
          - "BUILDUP_RUN_1"
          - "BUILDUP_RUN_2"
          - "BUILDUP_RUN_3"
          - "DT"
        test_description:
          type: "string"
          description: "Description of the test like Connectivity test, demonstration,\
            \ actual test etc.."
        scenario_id:
          type: "string"
          description: "Distinguishing NC Scenarios."
          enum:
          - "SCENARIO_1"
          - "SCENARIO_2"
          - "SCENARIO_3"
        call_sign:
          type: "string"
          description: "Unique call sign used to communicate with operators. The call\
            \ sign will be captured in the communication audio while executing the\
            \ flight test."
        Operation_IDs:
          type: "array"
          description: "An array of operations been submitted as part of the FRI.\
            \ This array shall be updated individually by POST requests if new operations\
            \ were submitted as part of the FRI."
          items:
            maxLength: 36
            minLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            type: "string"
            format: "uuid"
        PSU_url:
          type: "string"
          description: "Partner PSU URL"
        crew:
          type: "array"
          description: "The crew."
          items:
            required:
            - "role"
            type: "object"
            properties:
              name:
                type: "string"
                description: "Name of the individual crew member"
              role:
                type: "string"
                description: "Role of the individual crew member"
              email:
                type: "string"
                description: "Email of the individual crew member"
            description: "Information pretaining to the member of a crew."
      description: "This interface allows all the subsystems to setup context for\
        \ a flight test run. As part of this interface the identifier FRI (Flight\
        \ Run Identifier) is generated.   FRI will be embedded into every interface\
        \ data model exchanged between subsystems. Industry partner PSU subsystem\
        \ that include PSU operator capabilities shall submit data as per the data\
        \ model mentioned in Table-3 to Data Pipeline.\nThis model is submitted after\
        \ Operation enters 'Ended' state.\nThe only fields that are allowed to change\
        \ in updates are Operation_IDs, and call_sign, and once call sign has been\
        \ set in an update, it is “frozen”."
    MODEL4d058a:
      type: "object"
      properties:
        message:
          type: "string"
          description: "Human-readable message indicating what error occurred and/or\
            \ why."
      description: "Human-readable string returned when an error occurs\nas a result\
        \ of a USS - DSS transaction."
    MODEL8150de:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL6781f5:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL284486:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL8b4e4c:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL8c7e35:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL6e342d:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODELf558d7:
      type: "object"
      properties:
        message:
          type: "string"
          description: "Human-readable message indicating what error occurred and/or\
            \ why."
      description: "Human-readable string returned when an error occurs\nas a result\
        \ of a USS - DSS transaction."
    MODELbfe25a:
      required:
      - "constraint_id"
      - "subscriptions"
      type: "object"
      properties:
        constraint_id:
          maxLength: 36
          minLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
          type: "string"
          description: "ID of Constraint that has changed."
          format: "uuid"
        constraint:
          required:
          - "details"
          - "reference"
          type: "object"
          properties:
            reference:
              required:
              - "id"
              - "owner"
              - "time_end"
              - "time_start"
              - "uss_base_url"
              - "version"
              type: "object"
              properties:
                id:
                  maxLength: 36
                  minLength: 36
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                  type: "string"
                  description: "Universally-unique identifier for an Entity communicated\
                    \ through\nthe DSS.  Formatted as UUIDv4."
                  format: "uuid"
                owner:
                  type: "string"
                  description: "Created by the DSS based on creating client's ID (via\
                    \ access token).  Used internal\nto the DSS for restricting mutation\
                    \ and deletion operations to owner.  Used by USSs\nto reject Constraint\
                    \ update notifications originating from a USS that does not own\n\
                    the Constraint."
                version:
                  minimum: 1
                  exclusiveMinimum: false
                  type: "integer"
                  description: "Sequential version that the DSS increments every time\
                    \ the Constraint changes.  A USS\nmay use this version to determine\
                    \ which Constraint references have new details that\nmust be retrieved."
                  format: "int32"
                ovn:
                  title: "EntityOVN"
                  maxLength: 128
                  minLength: 16
                  type: "string"
                  description: "Opaque version number of this Constraint.  Populated\
                    \ only when the ConstraintReference\nis owned by the USS retrieving\
                    \ or providing it.  Not populated when the\nConstraintReference\
                    \ is not owned by the USS retrieving or providing it (instead,\
                    \ the\nUSS must obtain the OVN from the details retrieved from\
                    \ the owning USS)."
                time_start:
                  required:
                  - "format"
                  - "value"
                  type: "object"
                  properties:
                    value:
                      type: "string"
                      description: "RFC3339-formatted time/date string.  The time\
                        \ zone must be 'Z'."
                      format: "date-time"
                    format:
                      type: "string"
                      enum:
                      - "RFC3339"
                time_end:
                  required:
                  - "format"
                  - "value"
                  type: "object"
                  properties:
                    value:
                      type: "string"
                      description: "RFC3339-formatted time/date string.  The time\
                        \ zone must be 'Z'."
                      format: "date-time"
                    format:
                      type: "string"
                      enum:
                      - "RFC3339"
                uss_base_url:
                  type: "string"
                  description: "The base URL of a USS implementation that implements\
                    \ the parts of the USS-USS API necessary for\nproviding the details\
                    \ of this Constraint."
              description: "A ConstraintReference (area in which a Constraint is present,\
                \ along with other high-level information, but no details).  The DSS\
                \ reports only these references and clients must exchange details\
                \ and additional information peer-to-peer."
            details:
              required:
              - "volumes"
              type: "object"
              properties:
                volumes:
                  minItems: 1
                  type: "array"
                  description: "Volumes that wholly contain the Constraint while being\
                    \ as small as practical."
                  items:
                    required:
                    - "volume"
                    type: "object"
                    properties:
                      volume:
                        required:
                        - "altitude_lower"
                        - "altitude_upper"
                        type: "object"
                        properties:
                          outline_circle:
                            type: "object"
                            properties:
                              center:
                                required:
                                - "lat"
                                - "lng"
                                type: "object"
                                properties:
                                  lng:
                                    maximum: 180
                                    exclusiveMaximum: false
                                    minimum: -180
                                    exclusiveMinimum: false
                                    type: "number"
                                    description: "Degrees of longitude east of the\
                                      \ Prime Meridian, with reference to the WGS84\
                                      \ ellipsoid."
                                    format: "double"
                                  lat:
                                    maximum: 90
                                    exclusiveMaximum: false
                                    minimum: -90
                                    exclusiveMinimum: false
                                    type: "number"
                                    description: "Degrees of latitude north of the\
                                      \ equator, with reference to the WGS84 ellipsoid."
                                    format: "double"
                                description: "Point on the earth's surface."
                              radius:
                                required:
                                - "units"
                                - "value"
                                type: "object"
                                properties:
                                  value:
                                    type: "number"
                                    description: "Distance from the centerpoint of\
                                      \ a circular area, along the WGS84 ellipsoid."
                                    format: "float"
                                  units:
                                    type: "string"
                                    description: "FIXM-compatible units.  Only meters\
                                      \ (\"M\") are acceptable for UTM."
                                    enum:
                                    - "M"
                            description: "A circular geographic shape on the surface\
                              \ of the earth."
                          outline_polygon:
                            required:
                            - "vertices"
                            type: "object"
                            properties:
                              vertices:
                                minItems: 3
                                type: "array"
                                items:
                                  required:
                                  - "lat"
                                  - "lng"
                                  type: "object"
                                  properties:
                                    lng:
                                      maximum: 180
                                      exclusiveMaximum: false
                                      minimum: -180
                                      exclusiveMinimum: false
                                      type: "number"
                                      description: "Degrees of longitude east of the\
                                        \ Prime Meridian, with reference to the WGS84\
                                        \ ellipsoid."
                                      format: "double"
                                    lat:
                                      maximum: 90
                                      exclusiveMaximum: false
                                      minimum: -90
                                      exclusiveMinimum: false
                                      type: "number"
                                      description: "Degrees of latitude north of the\
                                        \ equator, with reference to the WGS84 ellipsoid."
                                      format: "double"
                                  description: "Point on the earth's surface."
                            description: "A polygonal geographic shape on the surface\
                              \ of the earth."
                          altitude_lower:
                            required:
                            - "reference"
                            - "units"
                            - "value"
                            type: "object"
                            properties:
                              value:
                                maximum: 100000
                                exclusiveMaximum: false
                                minimum: -8000
                                exclusiveMinimum: false
                                type: "number"
                                description: "The numeric value of the altitude. Note\
                                  \ that min and max values are\nadded as a sanity\
                                  \ check. As use cases evolve and more options are\n\
                                  made available in terms of units of measure or reference\
                                  \ systems,\nthese bounds should be re-evaluated."
                                format: "double"
                              reference:
                                type: "string"
                                description: "A code indicating the reference for\
                                  \ a vertical distance. See AIXM 5.1\nand FIXM 4.2.0.\
                                  \ Currently, UTM only allows WGS84 with no immediate\n\
                                  plans to allow other options. FIXM and AIXM allow\
                                  \ for 'SFC' which is\nequivalent to AGL."
                                enum:
                                - "W84"
                              units:
                                type: "string"
                                description: "The reference quantities used to express\
                                  \ the value of altitude. See\nFIXM 4.2. Currently,\
                                  \ UTM only allows meters with no immediate plans\n\
                                  to allow other options."
                                enum:
                                - "M"
                            description: "Minimum bounding altitude of this volume."
                          altitude_upper:
                            required:
                            - "reference"
                            - "units"
                            - "value"
                            type: "object"
                            properties:
                              value:
                                maximum: 100000
                                exclusiveMaximum: false
                                minimum: -8000
                                exclusiveMinimum: false
                                type: "number"
                                description: "The numeric value of the altitude. Note\
                                  \ that min and max values are\nadded as a sanity\
                                  \ check. As use cases evolve and more options are\n\
                                  made available in terms of units of measure or reference\
                                  \ systems,\nthese bounds should be re-evaluated."
                                format: "double"
                              reference:
                                type: "string"
                                description: "A code indicating the reference for\
                                  \ a vertical distance. See AIXM 5.1\nand FIXM 4.2.0.\
                                  \ Currently, UTM only allows WGS84 with no immediate\n\
                                  plans to allow other options. FIXM and AIXM allow\
                                  \ for 'SFC' which is\nequivalent to AGL."
                                enum:
                                - "W84"
                              units:
                                type: "string"
                                description: "The reference quantities used to express\
                                  \ the value of altitude. See\nFIXM 4.2. Currently,\
                                  \ UTM only allows meters with no immediate plans\n\
                                  to allow other options."
                                enum:
                                - "M"
                            description: "Maximum bounding altitude of this volume."
                        description: "A three-dimensional geographic volume consisting\
                          \ of a vertically-extruded shape.  Exactly one of\n`outline_polygon`\
                          \ or `outline_circle` must be specified."
                      time_start:
                        required:
                        - "format"
                        - "value"
                        type: "object"
                        properties:
                          value:
                            type: "string"
                            description: "RFC3339-formatted time/date string.  The\
                              \ time zone must be 'Z'."
                            format: "date-time"
                          format:
                            type: "string"
                            enum:
                            - "RFC3339"
                        description: "Beginning time of this volume."
                      time_end:
                        required:
                        - "format"
                        - "value"
                        type: "object"
                        properties:
                          value:
                            type: "string"
                            description: "RFC3339-formatted time/date string.  The\
                              \ time zone must be 'Z'."
                            format: "date-time"
                          format:
                            type: "string"
                            enum:
                            - "RFC3339"
                        description: "End time of this volume."
                    description: "Contiguous block of geographic spacetime."
                type:
                  type: "string"
                  description: "Type of airspace feature this Constraint represents."
              description: "Details of a UTM Constraint. Note that this data is not\
                \ stored in the DSS; only with the clients."
          description: "Full information about the Constraint that has changed.  If\
            \ this field is omitted,\nthe Constraint was deleted.  A newly-created\
            \ Constraint can be differentiated from\nan updated Constraint by examining\
            \ the `version` field.  The `ovn` field in the\nnested `reference` must\
            \ be populated."
        subscriptions:
          minItems: 1
          type: "array"
          description: "Subscription(s) prompting this notification."
          items:
            required:
            - "notification_index"
            - "subscription_id"
            type: "object"
            properties:
              subscription_id:
                maxLength: 36
                minLength: 36
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                type: "string"
                description: "Universally-unique identifier for a Subscription communicated\
                  \ through\nthe DSS.  Formatted as UUIDv4."
                format: "uuid"
              notification_index:
                minimum: 0
                exclusiveMinimum: false
                type: "integer"
                description: "Tracks the notifications sent for a subscription so\
                  \ the subscriber can detect missed notifications more easily."
                format: "int32"
                default: 0
            description: "State of Subscription which is causing a notification to\
              \ be sent."
      description: "Parameters of a message informing of new full information for\
        \ a Constraint.  Pushed (by a client, not the DSS) directly to clients with\
        \ subscriptions when another client makes a change to airspace within a cell\
        \ with a subscription."
    MODEL4f088b:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL62a1f9:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL32d415:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL7c4440:
      required:
      - "http_status_code"
      - "message"
      type: "object"
      properties:
        http_status_code:
          maximum: 599
          exclusiveMaximum: false
          minimum: 100
          exclusiveMinimum: false
          type: "integer"
          format: "int32"
        message:
          maxLength: 500
          type: "string"
    MODEL6e46db:
      required:
      - "operation_id"
      - "subscriptions"
      type: "object"
      properties:
        operation_id:
          maxLength: 36
          minLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
          type: "string"
          description: "ID of Operation that has changed."
          format: "uuid"
        operation:
          required:
          - "details"
          - "reference"
          type: "object"
          properties:
            reference:
              required:
              - "id"
              - "owner"
              - "subscription_id"
              - "time_end"
              - "time_start"
              - "uss_base_url"
              - "version"
              type: "object"
              properties:
                id:
                  maxLength: 36
                  minLength: 36
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                  type: "string"
                  description: "Universally-unique identifier for an Entity communicated\
                    \ through\nthe DSS.  Formatted as UUIDv4."
                  format: "uuid"
                owner:
                  type: "string"
                  description: "Created by the DSS based on creating client's ID (via\
                    \ access token).  Used internal\nto the DSS for restricting mutation\
                    \ and deletion operations to owner.  Used by USSs\nto reject Operation\
                    \ update notifications originating from a USS that does not own\n\
                    the Operation."
                version:
                  minimum: 1
                  exclusiveMinimum: false
                  type: "integer"
                  description: "Sequential version that the DSS increments every time\
                    \ the Operation changes.  A USS\nmay use this version to determine\
                    \ which Operation references have new details that\nmust be retrieved."
                  format: "int32"
                ovn:
                  title: "EntityOVN"
                  maxLength: 128
                  minLength: 16
                  type: "string"
                  description: "Opaque version number of this Operation.  Populated\
                    \ only when the OperationReference\nis owned by the USS retrieving\
                    \ or providing it.  Not populated when the\nOperationReference\
                    \ is not owned by the USS retrieving or providing it (instead,\
                    \ the\nUSS must obtain the OVN from the details retrieved from\
                    \ the owning USS)."
                time_start:
                  required:
                  - "format"
                  - "value"
                  type: "object"
                  properties:
                    value:
                      type: "string"
                      description: "RFC3339-formatted time/date string.  The time\
                        \ zone must be 'Z'."
                      format: "date-time"
                    format:
                      type: "string"
                      enum:
                      - "RFC3339"
                  description: "Beginning time of Operation."
                time_end:
                  required:
                  - "format"
                  - "value"
                  type: "object"
                  properties:
                    value:
                      type: "string"
                      description: "RFC3339-formatted time/date string.  The time\
                        \ zone must be 'Z'."
                      format: "date-time"
                    format:
                      type: "string"
                      enum:
                      - "RFC3339"
                  description: "End time of Operation."
                uss_base_url:
                  type: "string"
                  description: "The base URL of a USS implementation that implements\
                    \ the parts of the USS-USS API necessary for\nproviding the details\
                    \ of this Operation, and telemetry during non-conformance or contingency,\n\
                    if applicable."
                subscription_id:
                  maxLength: 36
                  minLength: 36
                  pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                  type: "string"
                  description: "The ID of the Subscription that is ensuring the Operation\
                    \ owner receives relevant\nairspace updates."
                  format: "uuid"
              description: "The high-level information of a planned or active Operation\
                \ with the URL\nof a USS to query for details.  Note: 'OVN' is returned\
                \ ONLY to the USS that\ncreated the Operation but NEVER to other USS\
                \ instances."
            details:
              required:
              - "volumes"
              type: "object"
              properties:
                volumes:
                  minItems: 1
                  type: "array"
                  description: "Volumes that wholly contain the Operation while being\
                    \ as small as practical."
                  items:
                    required:
                    - "volume"
                    type: "object"
                    properties:
                      volume:
                        required:
                        - "altitude_lower"
                        - "altitude_upper"
                        type: "object"
                        properties:
                          outline_circle:
                            type: "object"
                            properties:
                              center:
                                required:
                                - "lat"
                                - "lng"
                                type: "object"
                                properties:
                                  lng:
                                    maximum: 180
                                    exclusiveMaximum: false
                                    minimum: -180
                                    exclusiveMinimum: false
                                    type: "number"
                                    description: "Degrees of longitude east of the\
                                      \ Prime Meridian, with reference to the WGS84\
                                      \ ellipsoid."
                                    format: "double"
                                  lat:
                                    maximum: 90
                                    exclusiveMaximum: false
                                    minimum: -90
                                    exclusiveMinimum: false
                                    type: "number"
                                    description: "Degrees of latitude north of the\
                                      \ equator, with reference to the WGS84 ellipsoid."
                                    format: "double"
                                description: "Point on the earth's surface."
                              radius:
                                required:
                                - "units"
                                - "value"
                                type: "object"
                                properties:
                                  value:
                                    type: "number"
                                    description: "Distance from the centerpoint of\
                                      \ a circular area, along the WGS84 ellipsoid."
                                    format: "float"
                                  units:
                                    type: "string"
                                    description: "FIXM-compatible units.  Only meters\
                                      \ (\"M\") are acceptable for UTM."
                                    enum:
                                    - "M"
                            description: "A circular geographic shape on the surface\
                              \ of the earth."
                          outline_polygon:
                            required:
                            - "vertices"
                            type: "object"
                            properties:
                              vertices:
                                minItems: 3
                                type: "array"
                                items:
                                  required:
                                  - "lat"
                                  - "lng"
                                  type: "object"
                                  properties:
                                    lng:
                                      maximum: 180
                                      exclusiveMaximum: false
                                      minimum: -180
                                      exclusiveMinimum: false
                                      type: "number"
                                      description: "Degrees of longitude east of the\
                                        \ Prime Meridian, with reference to the WGS84\
                                        \ ellipsoid."
                                      format: "double"
                                    lat:
                                      maximum: 90
                                      exclusiveMaximum: false
                                      minimum: -90
                                      exclusiveMinimum: false
                                      type: "number"
                                      description: "Degrees of latitude north of the\
                                        \ equator, with reference to the WGS84 ellipsoid."
                                      format: "double"
                                  description: "Point on the earth's surface."
                            description: "A polygonal geographic shape on the surface\
                              \ of the earth."
                          altitude_lower:
                            required:
                            - "reference"
                            - "units"
                            - "value"
                            type: "object"
                            properties:
                              value:
                                maximum: 100000
                                exclusiveMaximum: false
                                minimum: -8000
                                exclusiveMinimum: false
                                type: "number"
                                description: "The numeric value of the altitude. Note\
                                  \ that min and max values are\nadded as a sanity\
                                  \ check. As use cases evolve and more options are\n\
                                  made available in terms of units of measure or reference\
                                  \ systems,\nthese bounds should be re-evaluated."
                                format: "double"
                              reference:
                                type: "string"
                                description: "A code indicating the reference for\
                                  \ a vertical distance. See AIXM 5.1\nand FIXM 4.2.0.\
                                  \ Currently, UTM only allows WGS84 with no immediate\n\
                                  plans to allow other options. FIXM and AIXM allow\
                                  \ for 'SFC' which is\nequivalent to AGL."
                                enum:
                                - "W84"
                              units:
                                type: "string"
                                description: "The reference quantities used to express\
                                  \ the value of altitude. See\nFIXM 4.2. Currently,\
                                  \ UTM only allows meters with no immediate plans\n\
                                  to allow other options."
                                enum:
                                - "M"
                            description: "Minimum bounding altitude of this volume."
                          altitude_upper:
                            required:
                            - "reference"
                            - "units"
                            - "value"
                            type: "object"
                            properties:
                              value:
                                maximum: 100000
                                exclusiveMaximum: false
                                minimum: -8000
                                exclusiveMinimum: false
                                type: "number"
                                description: "The numeric value of the altitude. Note\
                                  \ that min and max values are\nadded as a sanity\
                                  \ check. As use cases evolve and more options are\n\
                                  made available in terms of units of measure or reference\
                                  \ systems,\nthese bounds should be re-evaluated."
                                format: "double"
                              reference:
                                type: "string"
                                description: "A code indicating the reference for\
                                  \ a vertical distance. See AIXM 5.1\nand FIXM 4.2.0.\
                                  \ Currently, UTM only allows WGS84 with no immediate\n\
                                  plans to allow other options. FIXM and AIXM allow\
                                  \ for 'SFC' which is\nequivalent to AGL."
                                enum:
                                - "W84"
                              units:
                                type: "string"
                                description: "The reference quantities used to express\
                                  \ the value of altitude. See\nFIXM 4.2. Currently,\
                                  \ UTM only allows meters with no immediate plans\n\
                                  to allow other options."
                                enum:
                                - "M"
                            description: "Maximum bounding altitude of this volume."
                        description: "A three-dimensional geographic volume consisting\
                          \ of a vertically-extruded shape.  Exactly one of\n`outline_polygon`\
                          \ or `outline_circle` must be specified."
                      time_start:
                        required:
                        - "format"
                        - "value"
                        type: "object"
                        properties:
                          value:
                            type: "string"
                            description: "RFC3339-formatted time/date string.  The\
                              \ time zone must be 'Z'."
                            format: "date-time"
                          format:
                            type: "string"
                            enum:
                            - "RFC3339"
                        description: "Beginning time of this volume."
                      time_end:
                        required:
                        - "format"
                        - "value"
                        type: "object"
                        properties:
                          value:
                            type: "string"
                            description: "RFC3339-formatted time/date string.  The\
                              \ time zone must be 'Z'."
                            format: "date-time"
                          format:
                            type: "string"
                            enum:
                            - "RFC3339"
                        description: "End time of this volume."
                    description: "Contiguous block of geographic spacetime."
                state:
                  type: "string"
                  description: "State of an Operation.\n\n'Accepted': This Operation\
                    \ was fully deconflicted from other Entities at the time it changed\
                    \ to this\nstate, but no aircraft associated with it are active\
                    \ yet.  The create or update request for this\nOperation must\
                    \ include a Key containing all OVNs for all relevant Entities.\n\
                    \n'Activated': One or more aircraft associated with this Operation\
                    \ are, or will imminently be, in\nflight.  The create or update\
                    \ request for this Operation must include a Key containing all\
                    \ OVNs for\nall relevant Entities.\n\n'NonConforming': This Operation\
                    \ is outside of the planned volume.  The new or updated volumes\
                    \ MUST\ncontain the actual position of the aircraft.  In this\
                    \ state, the `/v1/operations/{entityuuid}/telemetry'\nUSS-USS\
                    \ endpoint should respond, if available, to queries from USS peers.\
                    \  The create or update request\nfor this Operation may omit a\
                    \ Key in this case because the Operation is being adjusted as\
                    \ flown and\ncannot necessarily deconflict.\n\n'Contingent': This\
                    \ Operation is executing a contingency action, either because\
                    \ it has been\nNonConforming for a certain period of time, or\
                    \ because of operator initiation.  This state must\ntransition\
                    \ to Ended.  The new or updated volumes MUST contain the actual\
                    \ position of the aircraft.\nIn this state, the `/v1/operations/{entityuuid}/telemetry'\
                    \ USS-USS endpoint should respond, if available,\nto queries from\
                    \ USS peers.  The create or update request for this Operation\
                    \ may omit a Key in this\ncase because the Operation is being\
                    \ adjusted as flown and cannot necessarily deconflict.\n\n'Ended':\
                    \ This Operation has ended (due to either an Operator-induced\
                    \ change or flight completion)."
                  enum:
                  - "Accepted"
                  - "Activated"
                  - "NonConforming"
                  - "Contingent"
                  - "Ended"
                vlos:
                  type: "boolean"
                  description: "If true, this Operation is ensuring deconfliction\
                    \ visually and volumes of other Operations may overlap the volumes\
                    \ of this Operation."
                  default: false
              description: "Details of a UTM Operation. Note that this data is not\
                \ stored in the DSS; only with the clients."
          description: "Full information about the Operation that has changed.  If\
            \ this field is omitted,\nthe Operation was deleted.  A newly-created\
            \ Operation can be differentiated from\nan updated Operation by examining\
            \ the `version` field.  The `ovn` field in the\nnested `reference` must\
            \ be populated."
        subscriptions:
          minItems: 1
          type: "array"
          description: "Subscription(s) prompting this notification."
          items:
            required:
            - "notification_index"
            - "subscription_id"
            type: "object"
            properties:
              subscription_id:
                maxLength: 36
                minLength: 36
                pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
                type: "string"
                description: "Universally-unique identifier for a Subscription communicated\
                  \ through\nthe DSS.  Formatted as UUIDv4."
                format: "uuid"
              notification_index:
                minimum: 0
                exclusiveMinimum: false
                type: "integer"
                description: "Tracks the notifications sent for a subscription so\
                  \ the subscriber can detect missed notifications more easily."
                format: "int32"
                default: 0
            description: "State of Subscription which is causing a notification to\
              \ be sent."
      description: "Parameters of a message informing of detailed information for\
        \ a peer Operation.\nPushed (by a client, not the DSS) directly to clients\
        \ with subscriptions when\nanother client makes a change to airspace within\
        \ a cell with a subscription."
    ArrayOfPSUExchange:
      type: "array"
      items:
        $ref: "#/components/schemas/PSUExchange"
    MODEL31afd2:
      required:
      - "aircraft"
      type: "object"
      properties:
        aircraft:
          type: "array"
          items:
            required:
            - "altitudeMM"
            - "emitterType"
            - "horVelocityCMS"
            - "icaoAddress"
            - "latDD"
            - "lonDD"
            - "timeStamp"
            type: "object"
            properties:
              icaoAddress:
                pattern: "^[0-9a-fA-F]{6}$"
                type: "string"
                description: "ICAO of the aircraft"
              trafficSource:
                type: "integer"
                description: "1090 MHz or 978 MHz 0 = 1090 1 = UAT"
                format: "int32"
                enum:
                - 0
                - 1
              latDD:
                type: "number"
                description: "Latitude expressed as decimal degrees"
              lonDD:
                type: "number"
                description: "Longitude expressed as decimal degrees"
              altitudeMM:
                type: "number"
                description: "Geometric altitude or barometric pressure altitudein\
                  \ millimeters"
              headingDE2:
                type: "number"
                description: "Course over ground in centi-degrees"
              horVelocityCMS:
                type: "integer"
                description: "Horizontal velocity in centimeters/sec"
                format: "int32"
              verVelocityCMS:
                type: "integer"
                description: "Vertical velocity in centimeters/sec with positive being\
                  \ up"
                format: "int32"
              squawk:
                maximum: 7777
                minimum: 0
                type: "number"
                description: "Squawk code"
              altitudeType:
                type: "integer"
                description: "Altitude Source 0 is pressure 1 is geometric"
                format: "int32"
                enum:
                - 0
                - 1
              callsign:
                pattern: "^[A-Z0-9]+ *$"
                type: "string"
              emitterType:
                type: "integer"
                description: "Category type of the emitter 0  = No aircraft type information\
                  \ 1  = Light (ICAO) < 15,500 lbs 2  = Small -15,500 to 75,000 lbs\
                  \ 3  = Large -75,000 to 300,000 lbs 4  = High Vortex Large (e.g.,\
                  \ B757) 5  = Heavy (ICAO) -> 300,000 lbs 6  = Highly Maneuverable\
                  \ > 5G acceleration and high speed 7  = Rotorcraft 8  = (Unassigned)\
                  \ 9  = Glider/sailplane 10 = Lighter than air 11 = Parachutist/sky\
                  \ diver 12 = Ultralight/hang glider/paraglider 13 = (Unassigned)\
                  \ 14 = Unmanned aerial vehicle 15 = Space/trans-atmospheric vehicle\
                  \ 16 = (Unassigned) 17 = Surface vehicle-emergency vehicle 18 =\
                  \ Surface vehicle-service vehicle 19 = Point Obstacle (includes\
                  \ tethered balloons) 20 = Cluster Obstacle 21 = Line Obstacle 22-39\
                  \ = (Reserved)"
                format: "int32"
                enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
                - 10
                - 11
                - 12
                - 13
                - 14
                - 15
                - 16
                - 17
                - 18
                - 19
                - 20
                - 21
                - 22
                - 23
                - 24
                - 25
                - 26
                - 27
                - 28
                - 29
                - 30
                - 31
                - 32
                - 33
                - 34
                - 35
                - 36
                - 37
                - 38
                - 39
              utcSync:
                type: "number"
                description: "UTC time flag"
              timeStamp:
                maxLength: 24
                minLength: 22
                type: "string"
                format: "date-time"
              detail:
                required:
                - "emergencyStatus"
                - "identSwActive"
                - "navIntegrity"
                - "navPositionAccuracy"
                - "navVelocityAccuracy"
                - "sysDesignAssurance"
                - "sysIntegrityLevel"
                - "tcasAcasAdvisory"
                - "tcasAcasOperating"
                type: "object"
                properties:
                  navIntegrity:
                    type: "integer"
                    description: "Navigation integrity category (NIC) 0  =RC >=37.04\
                      \ km (20 NM) Unknown Integrity 1  = RC < 37.04 km (20 NM) RNP-10\
                      \ containment radius 2  = RC < 14.816 km (8 NM) RNP-4 containment\
                      \ radius 3  = RC < 7.408 km (4 NM) RNP-2 containment radius\
                      \ 4  =RC < 3.704 km (2 NM) RNP-1 containment radius 5  = RC\
                      \ < 1852 m (1 NM) RNP-0.5 containment radius 6  = RC < 1111.2\
                      \ m (0.6 NM) RNP-0.3 containment radius 7  = RC < 370.4 m (0.2\
                      \ NM) RNP-0.1 containment radius 8  = RC < 185.2 m (0.1 NM)\
                      \ RNP-0.05 containment radius 9  = RC < 75 m and VPL < 112 m\
                      \ e.g., SBAS, HPL, VPL 10 = RC < 25 m and VPL < 37.5 m e.g.,\
                      \ SBAS, HPL, VPL 11 = RC < 7.5 m and VPL < 11 m e.g., GBAS,\
                      \ HPL, VPL 12-15 = (Reserved)"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  navAccuracy:
                    type: "integer"
                    description: "Navigation accuracy category(NACv) 0 = Unknown or\
                      \ >= 10 m/s Unknown >= 50 feet (15.24 m) per second 1 = < 10\
                      \ m/s    < 50 feet (15.24 m) per second 2 = < 3 m/s     < 15\
                      \ feet (4.57 m) per second 3 = < 1 m/s     < 5 feet (1.52 m)\
                      \ per second 4 = < 0.3 m/s < 1.5 feet (0.46 m) per second 5-7\
                      \ = (Reserved) (Reserved)"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                  verVelocitySrc:
                    type: "integer"
                    description: "Vertical velocity source 0 = Pressure 1 = Geometric"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  emergencyStatus:
                    type: "integer"
                    description: "Emergency status 0 = No-Emergency 1 = General Emergency\
                      \ 2 = Lifeguard/Medical 3 = Min Fuel 4 = No Comm 5 = Unlawful\
                      \ Interference 6 = Downed Aircraft"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                  sysIntegrityLevel:
                    type: "integer"
                    description: "SourceIntegrity Level(SIL) indicates the probability\
                      \ of the reported horizontal position exceeding the containment\
                      \ radius defined by the NIC (from AC 20-165) 3 ≤1x10-7 Per Hour\
                      \ or Sample 2 ≤1x10-5 Per Hour or Sample 1 ≤ 1x10-3 Per Hour\
                      \ or Sample 0 > 1x10-3 Per Hour or Sample  or Unknown"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                  sysDesignAssurance:
                    type: "integer"
                    description: "SystemDesign Assurance(SDA) indicated the probability\
                      \ of an ADS-B system malfunction causing false or misleading\
                      \ position (from AC 20-165) 1 Probability of exceeding NIC containment\
                      \ radius is based on per sample 0 Probability of exceeding NIC\
                      \ containment radius is based on per hour"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                  airGroundState:
                    type: "integer"
                    description: "Airborne or ground 0 = Airborne subsonic condition\
                      \ 1 = Airborne supersonic condition 3 = On ground condition"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                  svHeadingType:
                    type: "integer"
                    description: "Track angle from heading 0 = Data Not Available\
                      \ 1 = True Track Angle 2 = Magnetic Heading 3 = True Heading"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                  verticalVelType:
                    type: "integer"
                    description: "Vertical rate information 0 = Pressure 1 = Geometric"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  navPositionAccuracy:
                    type: "integer"
                    description: "The reported State Vector has sufficient position\
                      \ accuracy for the intended use(NACp) 0  = EPU >= 18.52 km (10\
                      \ NM) 1  =EPU < 18.52 km (10 NM) 2  = EPU < 7.408 km (4 NM)\
                      \ 3  = EPU < 3.704 km (2 NM) 4  = EPU < 1852 m (1NM) 5  = EPU\
                      \ < 926 m (0.5 NM) 6  = EPU < 555.6 m (0.3 NM) 7  = EPU < 185.2\
                      \ m (0.1 NM) 8  = EPU < 92.6 m (0.05 NM) 9  =EPU < 30 m and\
                      \ VEPU < 45 10 = EPU < 10 m and VEPU < 15 11 = EPU < 3 m and\
                      \ VEPU < 4 m 12-15 = (Reserved)"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                  navVelocityAccuracy:
                    type: "integer"
                    description: "The least accurate velocity component being transmitted\
                      \ (NACv) 0 = Unknown or >= 10 m/s Unknown or >= 50 feet (15.24\
                      \ m) per second 1 = < 10 m/s < 50 feet (15.24 m) per second\
                      \ 2 = < 3 m/s < 15 feet (4.57 m) per second 3 = < 1 m/s < 5\
                      \ feet (1.52 m) per second 4 = < 0.3 m/s < 1.5 feet (0.46 m)\
                      \ per second 5-7 = (Reserved)"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                  navIntegrityBaro:
                    type: "integer"
                    description: "Barometer checked (NICbaro) 0 = Barometric Pressure\
                      \ Altitude has NOT been cross checked 1 = Barometric Pressure\
                      \ Altitude has been cross checked"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  geoVerticalAccuracy:
                    type: "integer"
                    description: "Geometric Vertical Accuracy(GVA) 0 Unknown or >\
                      \ 150 meters 1 ≤ 150 meters 2 ≤ 45 meter"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                  tcasAcasOperating:
                    type: "integer"
                    description: "Aircraft is fitted with a TCAS (ACAS) computer and\
                      \ that computer is turned on and operating in a mode that can\
                      \ generate Resolution Advisory (RA) alerts"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  tcasAcasAdvisory:
                    type: "integer"
                    description: "TCAS II or ACAS computer is currently issuing a\
                      \ Resolution Advisory 0 = not issuing Resolution Advisory 1\
                      \ = issuing Resolution Advisory"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  identSwActive:
                    type: "integer"
                    description: "ident switch is activated"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  atcServicesRecvd:
                    type: "integer"
                    description: "ATC pilot message mode setting 0 = Not receiving\
                      \ ATC messages 1 = Receiving ATC message"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  magHeading:
                    type: "integer"
                    description: "True north or magnetic north 0 = True north 1 =\
                      \ Magnetic north"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  utcCoupledCondition:
                    type: "integer"
                    description: "Represents if the Ground Station is UTC-Coupled\
                      \ 0 = Ground Station is not UTC coupled 1 = Ground Station is\
                      \ UTC coupled"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  surveilStatus:
                    type: "integer"
                    description: "Surveillance status 0 = No Condition 1 = permanent\
                      \ alert 2 = temp alert 3 = SPI"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                  baroaltDiffMM:
                    type: "integer"
                    description: "Difference between the pressure altitude and the\
                      \ gnss altitude in mm"
                    format: "int32"
                  adsb1090esMopsVersion:
                    type: "integer"
                    description: "1 = DO-260A, 2 = DO-260B"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                  secondaryAltType:
                    type: "integer"
                    description: "Altitude source 0 = Pressure 1 = Geometric"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  secondaryAltitudeMM:
                    type: "integer"
                    description: "Geometric altitude or barometric pressure altitude\
                      \ in millimeters"
                    format: "int32"
                  tisBSiteId:
                    type: "integer"
                    description: "The tisBSiteId is unit-less and is from the a transmitted\
                      \ TISb UAT message signifies which uplink tower transmitted\
                      \ the TISb frame"
                    format: "int32"
                  transmitMSO:
                    type: "integer"
                    description: "the transmitMSO is the 6bit field from the transmitted\
                      \ UAT message which should signify which MSO the message was\
                      \ transmitted in.  MSO's can range from 0 to 3951 but only transmit\
                      \ the 6 LSB's of the actual MSO if transmitted."
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                    - 12
                    - 13
                    - 14
                    - 15
                    - 16
                    - 17
                    - 18
                    - 19
                    - 20
                    - 21
                    - 22
                    - 23
                    - 24
                    - 25
                    - 26
                    - 27
                    - 28
                    - 29
                    - 30
                    - 31
                    - 32
                    - 33
                    - 34
                    - 35
                    - 36
                    - 37
                    - 38
                    - 39
                    - 40
                    - 41
                    - 42
                    - 43
                    - 44
                    - 45
                    - 46
                    - 47
                    - 48
                    - 49
                    - 50
                    - 51
                    - 52
                    - 53
                    - 54
                    - 55
                    - 56
                    - 57
                    - 58
                    - 59
                    - 60
                    - 61
                    - 62
                    - 63
                  addressQualifier:
                    type: "integer"
                    description: "Defines the type of target that delivered the data\
                      \ 0 = ADS-B target with ICAO 24-bit 1 = Reserved for National\
                      \ use 2 = TIS-B target with ICAO 24-bit address 3 = TIS-B target\
                      \ with track file identifier 4 = Surface Vehicle 5 = Fixed ADS-B\
                      \ Beacon 6-7 = (Reserved)"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                  uatMopsVersion:
                    type: "integer"
                    description: "1 = DO-282A, 2 = DO-282B, 2 = DO-282C"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                  callSignID:
                    type: "integer"
                    description: "0 = Flightplan, 1 = CallSign"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                  uvin:
                    type: "string"
                    format: "uuid"
                  toLatDD:
                    type: "number"
                    description: "Takeoff latitude expressed as decimal degrees"
                  toLonDD:
                    type: "number"
                    description: "Takeoff longitudeexpressed as decimal degrees"
                  missionType:
                    type: "integer"
                    description: "Numeric representation of the type of mission being\
                      \ flown 0 = recreational 1 = photography/videography 2 = media\
                      \ 3  = point/structure inspection 4 = agriculture 5 = mapping\
                      \ 6 = surveillance 7 = law enforcement / first responder 8 =\
                      \ search and rescue 9 = delivery 10= urgent delivery 11 =other"
                    format: "int32"
                    enum:
                    - 0
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 8
                    - 9
                    - 10
                    - 11
                  phoneNumber:
                    type: "integer"
                    description: "Phone number attached to the mission. todo sic.\
                      \ string?"
                    format: "int32"
                  fltplanFiled:
                    type: "integer"
                    description: "NOTAM/UOA flight plan filed flag todo, check actual\
                      \ values"
                    format: "int32"
                    enum:
                    - 0
                    - 1
            description: "Title 14: Aeronautics and Space PART 91—GENERAL OPERATING\
              \ AND FLIGHT RULES Subpart C—Equipment, Instrument, and Certificate\
              \ Requirements §91.227   Automatic Dependent Surveillance-Broadcast\
              \ (ADS-B) Out equipment performance requirements.\n(a) Definitions.\
              \ For the purposes of this section:\n\n  ADS-B Out is a function of\
              \ an aircraft's onboard avionics that periodically\n  broadcasts the\
              \ aircraft's state vector (3-dimensional position and\n  3-dimensional\
              \ velocity) and other required information as described in this\n  section.\n\
              \n  Navigation Accuracy Category for Position (NACP) specifies the accuracy\
              \ of\n  a reported aircraft's position, as defined in TSO-C166b and\
              \ TSO-C154c.\n\n  Navigation Accuracy Category for Velocity (NACV) specifies\
              \ the accuracy of\n  a reported aircraft's velocity, as defined in TSO-C166b\
              \ and TSO-C154c.\n\n  Navigation Integrity Category (NIC) specifies\
              \ an integrity containment\n  radius around an aircraft's reported position,\
              \ as defined in TSO-C166b and\n  TSO-C154c.\n\n  Position Source refers\
              \ to the equipment installed onboard an aircraft used\n  to process\
              \ and provide aircraft position (for example, latitude, longitude,\n\
              \  and velocity) information.\n\n  Source Integrity Level (SIL) indicates\
              \ the probability of the reported\n  horizontal position exceeding the\
              \ containment radius defined by the NIC on\n  a per sample or per hour\
              \ basis, as defined in TSO-C166b and TSO-C154c.\n\n  System Design Assurance\
              \ (SDA) indicates the probability of an aircraft\n  malfunction causing\
              \ false or misleading information to be transmitted, as\n  defined in\
              \ TSO-C166b and TSO-C154c.\n\n  Total latency is the total time between\
              \ when the position is measured and\n  when the position is transmitted\
              \ by the aircraft.\n\n  Uncompensated latency is the time for which\
              \ the aircraft does not\n  compensate for latency.\n\n(b) 1090 MHz ES\
              \ and UAT Broadcast Links and Power Requirements—\n\n  (1) Aircraft\
              \ operating in Class A airspace must have equipment installed\n  that\
              \ meets the antenna and power output requirements of Class A1, A1S,\
              \ A2,\n  A3, B1S, or B1 equipment as defined in TSO-C166b, Extended\
              \ Squitter\n  Automatic Dependent Surveillance-Broadcast (ADS-B) and\
              \ Traffic Information\n  Service-Broadcast (TIS-B) Equipment Operating\
              \ on the Radio Frequency of\n  1090 Megahertz (MHz).\n\n  (2) Aircraft\
              \ operating in airspace designated for ADS-B Out, but outside of\n \
              \ Class A airspace, must have equipment installed that meets the antenna\
              \ and\n  output power requirements of either:\n\n      (i) Class A1,\
              \ A1S, A2, A3, B1S, or B1 as defined in TSO-C166b; or\n\n      (ii)\
              \ Class A1H, A1S, A2, A3, B1S, or B1 equipment as defined in\n     \
              \ TSO-C154c, Universal Access Transceiver (UAT) Automatic Dependent\n\
              \      Surveillance-Broadcast (ADS-B) Equipment Operating on the Frequency\
              \ of\n      978 MHz.\n\n(c) ADS-B Out Performance Requirements for NAC\
              \ P, NACV, NIC, SDA, and SIL—\n\n  (1) For aircraft broadcasting ADS-B\
              \ Out as required under §91.225 (a) and (b)—\n\n      (i) The aircraft's\
              \ NACP must be less than 0.05 nautical miles;\n\n      (ii) The aircraft's\
              \ NACV must be less than 10 meters per second;\n\n      (iii) The aircraft's\
              \ NIC must be less than 0.2 nautical miles;\n\n      (iv) The aircraft's\
              \ SDA must be 2; and\n\n      (v) The aircraft's SIL must be 3.\n\n\
              \  (2) Changes in NACP, NACV, SDA, and SIL must be broadcast within\
              \ 10 seconds.\n\n  (3) Changes in NIC must be broadcast within 12 seconds.\n\
              \n(d) Minimum Broadcast Message Element Set for ADS-B Out. Each aircraft\
              \ must broadcast the following information, as defined in TSO-C166b\
              \ or TSO-C154c. The pilot must enter information for message elements\
              \ listed in paragraphs (d)(7) through (d)(10) of this section during\
              \ the appropriate phase of flight.\n\n  (1) The length and width of\
              \ the aircraft;\n\n  (2) An indication of the aircraft's latitude and\
              \ longitude;\n\n  (3) An indication of the aircraft's barometric pressure\
              \ altitude;\n\n  (4) An indication of the aircraft's velocity;\n\n \
              \ (5) An indication if TCAS II or ACAS is installed and operating in\
              \ a mode\n  that can generate resolution advisory alerts;\n\n  (6) If\
              \ an operable TCAS II or ACAS is installed, an indication if a resolution\
              \ advisory is in effect;\n\n  (7) An indication of the Mode 3/A transponder\
              \ code specified by ATC;\n\n  (8) An indication of the aircraft's call\
              \ sign that is submitted on the\n  flight plan, or the aircraft's registration\
              \ number, except when the pilot\n  has not filed a flight plan, has\
              \ not requested ATC services, and is using a\n  TSO-C154c self-assigned\
              \ temporary 24-bit address;\n\n  (9) An indication if the flightcrew\
              \ has identified an emergency, radio\n  communication failure, or unlawful\
              \ interference;\n\n  (10) An indication of the aircraft's “IDENT” to\
              \ ATC;\n\n  (11) An indication of the aircraft assigned ICAO 24-bit\
              \ address, except\n  when the pilot has not filed a flight plan, has\
              \ not requested ATC services,\n  and is using a TSO-C154c self-assigned\
              \ temporary 24-bit address;\n\n  (12) An indication of the aircraft's\
              \ emitter category;\n\n  (13) An indication of whether an ADS-B In capability\
              \ is installed;\n\n  (14) An indication of the aircraft's geometric\
              \ altitude;\n\n  (15) An indication of the Navigation Accuracy Category\
              \ for Position (NACP);\n\n  (16) An indication of the Navigation Accuracy\
              \ Category for Velocity (NACV);\n\n  (17) An indication of the Navigation\
              \ Integrity Category (NIC);\n\n  (18) An indication of the System Design\
              \ Assurance (SDA); and\n\n  (19) An indication of the Source Integrity\
              \ Level (SIL).\n\n(e) ADS-B Latency Requirements—\n\n  (1) The aircraft\
              \ must transmit its geometric position no later than 2.0 seconds from\
              \ the time of measurement of the position to the time of transmission.\n\
              \n  (2) Within the 2.0 total latency allocation, a maximum of 0.6 seconds\
              \ can be uncompensated latency. The aircraft must compensate for any\
              \ latency above 0.6 seconds up to the maximum 2.0 seconds total by extrapolating\
              \ the geometric position to the time of message transmission.\n\n  (3)\
              \ The aircraft must transmit its position and velocity at least once\
              \ per second while airborne or while moving on the airport surface.\n\
              \n  (4) The aircraft must transmit its position at least once every\
              \ 5 seconds while stationary on the airport surface.\n\n(f) Equipment\
              \ with an approved deviation. Operators with equipment installed with\
              \ an approved deviation under §21.618 of this chapter also are in compliance\
              \ with this section.\n(g) Incorporation by Reference. The standards\
              \ required in this section are incorporated by reference with the approval\
              \ of the Director of the Office of the Federal Register under 5 U.S.C.\
              \ 552(a) and 1 CFR part 51. All approved materials are available for\
              \ inspection at the FAA's Office of Rulemaking (ARM-1), 800 Independence\
              \ Avenue, SW., Washington, DC 20590 (telephone 202-267-9677), or at\
              \ the National Archives and Records Administration (NARA). For information\
[...]
